body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, rgba(26, 255, 200, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto 0;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
    

}
ul li a{
    opacity: 0.5;
}
/*pseudo classe*/

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

a {
    text-decoration: none;
    color: #1f1534;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

h1 {
    font-size: 48px;
    line-height: 56px;
    color: #1f1534;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    width: 490px;
    
}
h1 span {
    color: #89c5cc;
    line-height: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    margin: 48px 0;
}

button {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: rgb(50, 187, 141);
    border-radius: 100px;
    padding: 14px 32px 15px;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: rgb(13, 97, 69);
    
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}
  
footer a {
    font-weight: bold;
}
  
#in100tiva {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#logo-low {
    position: fixed;
    bottom: 30px;
    right: 30px;
}